.video-container {
    display: flex; 
    align-items: flex-start; 
    gap: 15px; 
}

.video-content {
    flex: 2; 
}

.recommended {
    flex: 1; 
    max-width: 30%; 
}

.side-video-list {
    display: flex;
    align-items: center; 
    gap: 10px;
    margin-bottom: 8px;
}

.side-video-list img {
    width: 50%; 
    flex-shrink: 0;
}

.vid-info {
    flex: 1; 
}

.vid-info h4 {
    font-size: 13px;
    margin-bottom: 5px;
}
